<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%}</title>
    {%block styles%} {%endblock%}
  </head>
  <body>
    <div class="container" id="app">
      {%block content%} {%endblock%}
    </div>
    <!-- <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script> -->
    <script src="https://cdn.staticfile.org/x-tag/1.1.13/x-tag-core.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.0/jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery.pjax/0.9/jquery.pjax.js"></script>
    <script>
      // 把所有的a都绑定上
      $(document).pjax("a", "#app");
    </script>
    {%block scripts%} {%endblock%}
  </body>
</html>
