<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script
      type="text/javascript"
      src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.1.2/socket.io.js"
    ></script>
    <script type="text/javascript">
      $(function() {
        var i = 0;
        var socket = io.connect("http://localhost:3000");
        socket.on("open", function() {
          console.log("已连接");
          socket.send("连接成功");
        });
        socket.on("test", function(json) {
          console.log("test", json);
        });
      });
    </script>
  </body>
</html>
